	h1{
	font-size:12px;
	color:blue;
	}
	p{
	text-align:center;
	color:red;
	}
	#para1{
	text-align:center;
	color:blue;
	}
	.center{
	text-align:center;
	color:red;
	}
	h1,h2,p{
	text-align:center;
	color:#A0C878;
	}
	/*This is just a comment, move along now.*/
	body{
	background-color:#FEFAE0;
	}
	h1{
	color:navy;
	margin-left:20px;
	}